.FormGroupWithError {
    &:not(:last-child){  //not the last child
        margin-bottom:15px;
    }
    label{
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }
    input{
        display: block;
        width: 80%;
        height: 34px;
        padding: 6px 12px;
        line-height: 1.5;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    &__error{
        color: red;
        font-weight: bold;
        display: inline block;
        margin-top: 5px;
    }
}